@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");

/* CONFIGS GERAIS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --fundo: #0d0a0e;
  --menuHover: #101010;
  --versio-blue: #8257e6;
  --fundo2: #222222;
  --afterProjects: #39303c;
  --text-contatos: #cccccc;
  --btnColor: #0d0a0c;
  --react: #61dafb;
  --html: #e44d26;
  --css: #1572b6;
  --js: #f0db4f;
  --python: #407eaf;
  --django: #f5f5f5;
  --mysql: #00618a;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--fundo);
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  min-width: 300px;
}

/* CONFIGS PARA O CONTAINER */

.container {
  display: none; /*GRID*/
  width: 100%;
  grid-template-areas:
    "home home"
    "habilit habilit"
    "projetos projetos"
    "contatos contatos"
    "footer footer";
  grid-template-columns: 80% 20%;
  max-width: 1500px;
  overflow-x: hidden;
}

.container__home {
  grid-area: home;
  height: 600px;
  display: flex;
}

.container__divTexts {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  width: 50%;
}

.container__imagemFrontEnd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  position: relative;
}

.container__imagemFrontEnd::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  background-image: url("../img/backLogo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: var(--width-imageBackgroundFrontEnd);
  filter: blur(60px);
  z-index: -1;
}

.container__imagemFrontEnd > img {
  width: 60%;
  max-width: 350px;
  filter: drop-shadow(0 10px 10px #00000033);
}

/* CONFIGS PARA O CONTAINER DOS TEXTOS */

.container__textInit {
  width: 100%;
}

.container__textMyName {
  font-size: clamp(35px, 2vw, 60px);
  line-height: 1em;
  font-weight: 700;

  background: linear-gradient(to bottom right, #bc82ff 6%, #8257e6 52%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #8257e6;
}

.container__textSecund {
  font-size: clamp(25px, 2vw, 43px);

  line-height: 1em;
  font-weight: 600;
}

/* ANIMATION TEXT */

.container__textMyName::after {
  content: "i";
  font-size: 0.9em;
  color: var(--versio-blue);
  background-color: var(--versio-blue);
  animation: animationText 2.3s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-left: 10px;
}

@keyframes animationText {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 100%;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 100%;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

/* CONFIGS PARA O BTN */

.container__btn {
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 3px;
  background: #8257e6;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 50px;
  border: 1px solid #ffffff3a;
}

/* ANIMAÇÕES PARA O BTN */

.container__btn:hover {
  background: #9d7fe3;
  transform: translateY(-3px);
}

.container__btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--btnColor);
  font-size: clamp(12px, 2vw, 14px);
  font-weight: 600;
  color: #ffffffdc;
  border-radius: 50px;
  padding: 7px 12px;
}

/* CONFIGS PARA O TEXTO SOBRE MIM */

.container__textApresentacao {
  width: 100%;
  max-width: 530px;
  color: #d0c6c6;
}

.container__textApresentacao span {
  font-weight: 700;
  color: var(--versio-blue);
}

/* CONFIGS PARA A PARTE DE HABILIDADES */

.container__habilidades {
  grid-area: habilit;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container__textHabilitsPrincipal,
.container__textProjetosPrincipal,
.container__textContatosPrincipal {
  transition: all 0.7s ease;
  font-weight: 600;
  font-size: 2.5em;
}

.container__textHabilitsPrincipal::after,
.container__textProjetosPrincipal::after,
.container__textContatosPrincipal::after {
  content: " ";
  background-color: #8257e6;
  display: flex;
  width: 50%;
  height: 7px;
}

/* CONFIGS PARA A DIV DOS COMPONENTES */

.container__divComponent {
  width: 100%;
  justify-content: center;
  transition: all 0.7s ease;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 30px;
}

.container__component {
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--fundo2);
  filter: grayscale(1);
  border-radius: 15px;
}

.container__component::after {
  content: " ";
  width: 100%;
  height: 10px;
  background-color: var(--versio-blue);
  border-radius: 0 0 15px 15px;
}

/* END CONFIGS PARA AS CORES DAS HABILIDADES */

.container__component img,
.container__component i {
  width: 100px;
  font-size: 60px;
  padding: 17px;
}

.not--view {
  transform: translateX(-40px);
  opacity: 0%;
  visibility: hidden;
}

/* CONFIG ANIMATION DIV DOS COMPONENTS */

.container__component:hover {
  cursor: pointer;
  outline: 3px solid #8257e6;
  transform: translateY(-7px);
  filter: grayscale(0);
}

/* CONFIGS PARA CONTAINER PROJETO */

.container__projetos {
  position: relative;
  grid-area: projetos;
  height: 800px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container__projetosSpanBall {
  width: 300px;
  height: 300px;
  background-color: var(--versio-blue);
  position: absolute;

  border-radius: 100%;
  filter: blur(50px);
  opacity: 10%;
}

.container__projetos .container__projetosSpanBall:nth-child(1) {
  top: 0;
  left: -50px;
}

.container__projetos .container__projetosSpanBall:nth-child(2) {
  bottom: 0;
  right: -50px;
}

/* CONFIGS PARA A DIV CONTATOS */

.container__divContatos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 700px;
  grid-area: contatos;
}

.container__contatos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 80%;
  max-width: 350px;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.7s ease;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: hsla(219, 40%, 11%, 0.75);
  border-radius: 12px;
  border: 1px solid hsla(0, 0%, 100%, 0.125);
}

.componentsContatos__textPrincipal {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  font-weight: 700;
  white-space: nowrap;
  line-height: 0.85em;

  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  filter: drop-shadow(0 0 30px #47337455);
  background-color: #473374;
  color: #ffffff;
}

.componentsContatos__textPrincipal + img {
  margin-top: 18%;
  position: relative;
  width: 50px;
  animation: textCttsAnima 3s ease alternate infinite;
}

@keyframes textCttsAnima {
  to {
    transform: translateY(-10px);
  }
}

.componentsContatos {
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.componentsContatosLinkDiv {
  display: flex;
  gap: 7px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.componentsContatosLink {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 20px;
  width: 80%;
  height: 35px;
}

.componentsContatosLink span {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border-left: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 0 20px 20px 0;
  width: 30%;
  height: 100%;
  font-weight: 500;
  font-size: 24px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.componentsContatosLink span:hover {
  color: var(--versio-blue);
}

.componentsContatosLink input {
  padding: 10px;
  width: 70%;
  font-size: clamp(12px, 2vw, 14px);
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: transparent;
  outline: none;
  border: none;
  color: #ffffff;
}

.componentsContatosLinkDiv > a {
  text-decoration: none;
  color: #ffffff;
  font-size: clamp(9px, 2vw, 13px);
  font-weight: 600;
  cursor: pointer;
}

.componentsContatosLinkDiv > a:hover {
  text-decoration: underline;
}

.container__contatosLabels {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  border-radius: 12px;
}

.container__contatosLabels label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  transition: all 0.3s ease;
}

.container__contatosLabels img {
  height: 30px;
  width: 30px;
  transition: all 0.3s ease;
}

/* CONFIGS TO SHOW COMPONENTS THE CONTATOS */

.inputContatos,
.componentsContatos {
  display: none;
}

.inputContatos:checked + .componentsContatos {
  display: flex;
}

/* CONFIGS PARA O FOOTER */

.container__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px;
  grid-area: footer;
  width: 100%;
  height: 100px;
  /* background-color: #8257e615; */
  border-top: 2.7px solid #8257e615;
}

.container__footerBy {
  display: flex;
  gap: 7px;
}

.container__footerBy img {
  width: 20px;
}

.container__footer p {
  font-size: clamp(10px, 2vw, 15px);
  font-weight: 500;
  color: #b4b1b1e7;
}

.container__footerLinks {
  display: flex;
  gap: 7px;
}

.container__footerLinks a {
  position: relative;
  text-decoration: none;
  color: var(--versio-blue);
  font-size: clamp(10px, 2vw, 15px);
  font-weight: 500;
  transition: all 0.3s ease;
}

.container__footerLinks a:hover {
  opacity: 70%;
}
