@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

/* CONFIGS GERAIS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --fundo: #0D0A0E;
    --versio-blue: #8257E6;
    --fundo2: #222222;
    --afterProjects: #39303C; 
    --text-contatos: #CCCCCC;
    --height: 100vh; 
    --btnColor: #0D0A0C;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--fundo);
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    /* width: 100vw; */
    
}

/* CONFIGS PARA O CONTAINER */

.container {
    display: none; /*GRID*/
    grid-template-areas: 
    "home home"
    "habilit habilit"
    "projetos projetos"
    "contatos contatos";
    grid-template-columns: 80% 20%;
    max-width: 1700px;
    overflow-x: hidden;
}

.container__home {
    grid-area: home;
    height: var(--height);
    display: flex;
}

.container__divTexts {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.container__imagemFrontEnd {
    width: 20%;
    background-image: url("../img/img-first-pagina.png");
    background-position: right center;
    background-size: contain;
    background-repeat: repeat-y;
    height: 100%;
}

/* CONFIGS PARA O CONTAINER DOS TEXTOS */

.container__textInit {
    width: 100%;
}

.container__textPorti {
    font-size: 1.3em;
    line-height: 1em;
}

.container__textMyName {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 700;
    color: var(--versio-blue);
}

.container__textSecund {
    font-size: 1.8em;
    line-height: 1em;
    font-weight: 600;
}

/* ANIMATION TEXT */

.container__textMyName::after {
    content: 'i';
    font-size: .9em;
    color: var(--versio-blue);
    background-color: var(--versio-blue);
    animation: animationText 2.3s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-left: 10px;
}

@keyframes animationText {
    0% {opacity: 100%;}

    50% {opacity: 100%;}

    60% {opacity: 0;}

    70% {opacity: 100%;}

    80% {opacity: 0;}

    100% {opacity: 100%;}
}

/* CONFIGS PARA O BTN */

.container__btn {
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    background: linear-gradient(91.96deg, #8257E6 0%, #1E0C24 100%);
    border-radius: 50px;
    padding: 5px;    
    /* width: 20%; */
    cursor: pointer;
}

/* ANIMAÇÕES PARA O BTN */

.container__btn:hover {
    transform: scale(0.90);
    opacity: 70%;
}

.container__btn a,
.container__btn p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    background-color: var(--btnColor);
    border-radius: 50px;   
    padding: 5px 15px;

}

/* CONFIGS PARA O TEXTO SOBRE MIM */

.container__textApresentacao {
    width: 60%;
}

.container__textApresentacao span {
    font-weight: 600;
    color: var(--versio-blue);
}

/* CONFIGS PARA A PARTE DE HABILIDADES */

.container__habilidades {
    grid-area: habilit;
    height: var(--height);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container__textHabilitsPrincipal,
.container__textProjetosPrincipal,
.container__textContatosPrincipal {
    transition: all .7s ease;
    font-weight: 600;
    font-size: 2.5em;
}

.container__textHabilitsPrincipal::after,
.container__textProjetosPrincipal::after,
.container__textContatosPrincipal::after {
    content: ' ';
    background-color: #8257E6;
    display: flex;
    width: 50%;
    height: 7px;
}

/* CONFIGS PARA A DIV DOS COMPONENTES */

.container__divComponent {
    width: 100%;
    justify-content: center;
    transition: all .7s ease;
    display: flex;
    gap: 30px;
}

.container__component {
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--fundo2);
    filter: saturate(0) contrast(1.15);
    border-radius: 15px;
}

.container__component::after {
    content: ' ';
    width: 100%;
    height: 10px;
    background-color: var(--versio-blue);
    border-radius: 0 0 15px 15px;
}

.container__component img {
    width: 100px;
    padding: 17px;
}

.not--view {
    transform: translateX(-40px);
    opacity: 0%;
    visibility: hidden;
}

/* CONFIG ANIMATION DIV DOS COMPONENTS */

.container__component:hover {
    cursor: pointer;
    outline: 3px solid #8257E6;
    transform: scale(1.1);
    filter: saturate(1);
    /* box-shadow: 0 0 30px #39303c; */
}

/* CONFIGS PARA CONTAINER PROJETO */

.container__projetos {
    grid-area: projetos;
    height: var(--height);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container__divProjetos {
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.container__projeto {
    transition: all .3s ease;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 150px;
    background-color: var(--fundo2);
    opacity: 60%;
    cursor: pointer;
    box-shadow: 0 0 30px #39303c66;
}

.container__projetoAfter {

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease;
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 0;
    padding: 0 20px;
    background-color: var(--afterProjects);
}

.container__projetoAfter p {
    color: #ffffff;
    font-weight: 600;
    font-size: 0;
}

.container__projeto a {
    width: 100%;
    height: 100%;
}

.container__projeto:hover {
    transform: scale(1.3);
    opacity: 100%;
    z-index: 1;
    box-shadow: 0 0 30px #39303c;
}

.container__projeto:hover
.container__projetoAfter {
    height: 30px;
}

.container__projeto:hover
.container__projetoAfter p {
    font-size: clamp(7px, 2vw, 10px);
}

/* COLOCAR AS IMAGES */

.pokeiou {
    background: url('../img/pokeiou.png');
    background-position: center center;
    background-size: cover;
}

.wildbeast {
    background: url('../img/wildbeast.png');
    background-position: center center;
    background-size: cover;
}

/* CONFIG PARA AS ANIMAÇÕES DE MOSTRAR MAIS */

.container__divProjetosOn,
.container__divProjetosNone {
    display: flex;
    justify-content: center;
    gap: 20px;
} 

.off {
    display: none;
}

/* CONFIGS PARA O BTN DE MOSTRAR MAIS */

.container__btnProjetos {
    align-self: flex-end;
}

/* CONFIGS PARA A DIV CONTANTOS */

.container__divContatos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: var(--height);
    grid-area: contatos;
}

.container__divItensContatos {
    transition: all .3s ease;
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container__redesComponentes {
    position: relative;
    transition: .3s all ease;
    display: flex;
    gap: 3px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    filter: drop-shadow(0 0 30px #39303c66);
}

.container__redesComponentes a{
    width: 100%;
    height: 100%;
    position: absolute;
}

.container__redesComponentes:hover {
    transform: scale(.85);
    opacity: 60%;
    filter: drop-shadow(0 0 30px #39303c);
}

.container__redesComponentes img {
    width: 50%;
}

.container__divImgComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo2);
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.container__textPrincipalRedesComponents {
    font-weight: 700;
}

.container__textSecundRedesComponents {
    font-weight: 500;
    color: var(--text-contatos);
    font-size: .9em;
}

.wrap--linha {
    width: 150px;
    word-break: break-all;
}