/* CONFIGS GERAL DO MENU */

.menu {
  transition: all 0.3s ease;
  position: fixed;
  background-color: var(--fundo);
  z-index: 2;
  width: 100%;
  display: none; /*O MENU FICA FLEX DEPOIS DE CARREGAR O JS*/
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
}

.menu::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(13px);
}

/* CONFIGS PARA O MENU PC */

.menuOptDesk {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logoNameOptDesk {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: clamp(12px, 2vw, 14px);
  font-weight: 700;
  color: #ece9ecb9;
}

.logoNameOptDesk > img {
  height: 100%;
}

.containerOpts {
  gap: 30px;
  display: flex;
  z-index: 2;
}

.menuOptDesk .optionMenuDesk {
  position: relative;
  height: 50px;
  font-weight: 600;
  font-size: clamp(12px, 2vw, 14px);
  color: #d3d3d3 !important;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuOptDesk .optionMenuDesk .material-symbols-outlined {
  font-size: 20px;
}

.menuOptDesk .optionMenuDesk::after {
  content: " ";
  width: 0;
  height: 3px;
  background-color: var(--versio-blue);
  transition: all 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.menuOptDesk .optionMenuDesk::before {
  content: " ";
  position: absolute;
  right: -20px;
  width: 2px;
  height: 15px;

  background: rgba(236, 233, 236, 0.157);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
}

.containerOpts .containerOpt:last-of-type .optionMenuDesk::before {
  display: none;
}

.menuOptDesk .optionMenuDesk:hover {
  color: #ffffff !important;
}

/* CONFIGS FOR SECTION SELECTED */

.menuOptDesk__radio {
  display: none;
}

.menuOptDesk__radio:checked + .optionMenuDesk::after {
  width: 120%;
}

/* CONFIGS PARA O MENU MOBILE */

.menu__myLogo {
  height: 37px;
  z-index: 2;
  display: none;
}

.menu__image {
  transition: all 0.3s ease;
  display: none !important;
  width: 30px;
  z-index: 2;
  cursor: pointer;
  padding: 5px;
}

.menu__image:hover {
  transform: scale(1.2);
  opacity: 70%;
}

.backMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-bottom: 2.7px solid #8257e62a;
  transition: all 0.3s ease;
}

.menuOptMobileBall {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: var(--versio-blue);
  border-radius: 100%;
  filter: blur(100px);
  opacity: 50%;
  z-index: -2;
}

.menuOptMobileBall:first-of-type {
  top: 0;
  left: 0;
}

.menuOptMobileBall:last-of-type {
  bottom: 0;
  right: 0;
}

.menuOptMobile {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #201c22;
  transition: all 0.3s ease;
}

.menuOptlinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.menuOptDeskOption {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 35px;
  font-weight: 600;
  font-size: clamp(14px, 2vw, 16px);
  color: #ffffffcf;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menuOptDeskOption::after {
  content: " ";
  width: 100%;
  height: 2px;
  background-color: #8257e62a;
}

.menuOptDeskOption:hover {
  color: #865de4d4;
}

.not--menu {
  font-size: 0;
  height: 0;
  padding: 0;
  border: 0;
  opacity: 0;
}

.menuMobileContatosDiv {
  display: flex;
  gap: 15px;
}

.menuMobileContatosDiv img {
  height: 25px;
  opacity: 0.7;
  transition: all 0.3s ease;
  cursor: pointer;
}

.menuMobileContatosDiv img:hover {
  opacity: 1;
}

/* MENSAGENS */

.copySucess {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 80%;
  max-width: 300px;
  height: 50px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
  overflow: hidden;

  backdrop-filter: blur(12px) saturate(161%);
  -webkit-backdrop-filter: blur(12px) saturate(161%);
  background-color: rgba(130, 87, 230, 0.68);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.copySucess::after {
  transition: all 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  width: var(--porcentBarCopy);
  height: 4px;
  background-color: #cccccc;
  z-index: 3;
}

.backSucessCopy {
  content: " ";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #464545;
  border-top: 1px solid #ffffff10;
  z-index: 2;
}

.copySucessNotView {
  height: 0px;
  padding: 0;
  transform: translateX(-500px);
}

.copySucessNotView::after {
  height: 0px;
  padding: 0;
  font-size: 0;
}

.textSucessCopy,
.closeSucessCopy {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.textSucessCopy {
  width: 80%;
}

.closeSucessCopy {
  width: 20%;
  cursor: pointer;
  font-weight: 600;
  background-color: #2222225e;
  border-left: 1px solid rgba(255, 255, 255, 0.125);
}
