/* CONFIGS PARA A LARGURA */

@media (max-width: 320px) {
  .container__textHabilitsPrincipal,
  .container__textProjetosPrincipal,
  .container__textContatosPrincipal {
    font-size: 10vw;
  }

  .container__textApresentacao {
    width: 100%;
  }

  .container__btn a {
    font-size: 5vw;
  }
}

/*MEDIA QUERY PARA TROCAR O STILO DO MENU*/

@media (max-width: 500px) {
  .menu {
    border-bottom: 2.7px solid #8257e615;
    flex-direction: row-reverse;
  }

  .menu__image {
    display: block !important;
  }

  .menu__myLogo {
    display: block !important;
  }

  .menuOptDesk {
    display: none;
  }
}

@media (max-width: 600px) {
  .container__divItensContatos {
    overflow-x: scroll;
    justify-content: flex-start;
    padding: 20px;
  }

  .container__divItensContatos::-webkit-scrollbar {
    background-color: transparent;
    height: 7px;
  }

  .container__divItensContatos::-webkit-scrollbar-thumb {
    background-color: var(--fundo2);
    border-radius: 10px;
  }
}

@media (max-width: 700px) {
  .container__home {
    height: 700px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .container__imagemFrontEnd,
  .container__divTexts {
    padding: 0 30px;
    height: auto;
    width: 100%;
  }

  .container__divTexts {
    align-items: center;
    text-align: center;
  }

  .container__btn {
    align-self: auto;
  }

  .container__textInit {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 920px) {
  body {
    display: block;
  }

  .container__projeto {
    gap: 40px;
    width: 100%;
  }

  .container__projeto:hover {
    transform: scale(1.1);
  }
}
